DATABASE_URL="postgresql://user:password@address:5432/db"
# Per la sicurezza dei Token (FastAPI)
SUPABASE_JWT_SECRET=tua_secret_molto_lunga

# Per il Client Supabase (Frontend e Backend)
SUPABASE_URL=https://xyz.supabase.co