DATABASE_URL="postgresql://user:password@address:5432/db"
# Per la sicurezza dei Token (FastAPI)
SUPABASE_JWK_PUBLIC='json della chiave pubblica per i JWT'

# Per il Client Supabase (Frontend e Backend)
SUPABASE_URL=https://xyz.supabase.co